<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>RSVP – ORBITEL</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" th:href="@{/css/styles.css}"></head>
<body>
  <nav style="padding:1em; border-bottom:1px solid #ccc;">
  <a th:href="@{/dashboard}">My Home |</a> 
  <a th:href="@{/profile}">Profile |</a> 
  <a th:href="@{/jobs}">All Jobs |</a> 
  <a th:href="@{/messages}">Inbox |</a> 
  <a th:if="${#authorization.expression('hasRole(''JOB_SEEKER'')')}"
     th:href="@{/applications/my}">
    My Applications |
  </a> 
  <a th:href="@{/logout}">Logout</a>
</nav>
  <h2 th:text="'RSVP for: ' + ${app.job.title}">RSVP</h2>
  <p>
    <strong>Interview scheduled at:</strong>
    <span th:text="${#temporals.format(app.interviewAt,'MMM d, yyyy HH:mm')}"/>
  </p>
  <form th:action="@{/applications/rsvp/{appId}(appId=${app.id})}" method="post">
    <div>
      <label>Status</label>
      <select name="rsvp">
        <option th:each="r : ${rsvps}"
                th:value="${r}" 
                th:text="${r}"
                th:selected="${r == app.rsvp}">
        </option>
      </select>
    </div>
    <button type="submit">Submit RSVP</button>
  </form>
</body>
</html>
